<?xml version='1.0' encoding='utf-8'?>
<widget id="com.denken.proyecto" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>proyecto</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />

    <preference name="phonegap-version" value="cli-8.0.0" />

    <plugin name="cordova-plugin-geolocation" source="npm" />
    <plugin name="cordova-plugin-android-permissions" />

    <access origin="*" />

    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="*" />

    <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
        <string>need location access to find things nearby</string>
    </edit-config>

</widget>
